// header
#header {
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  transition: .3s;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.logo a {
  font-size: 2.6rem;
  letter-spacing: 0.1em;
  font-style: italic;
}

#navi {
  display: flex;
  justify-content: flex-end;
  li {
    padding-left: 30px;
    a {
      letter-spacing: 0.1em;
      font-style: italic;
      font-weight: bold;
    }
  }
}

.hamberger-memu {
  display: none;
}


/* header_SP版 */
@media screen and (max-width: 768px) {
  #header {
    padding: 19px 15px;
  }
  #navi {
    position: fixed;
    width: 100%;
    left: -375px;
    top: 0;
    min-height: 100vh;
    padding: 300px 0;
    color: #fff;
    background: #282F35;
    opacity: 0;
    z-index: 5;
    transition: all 0.3s;
    li {
      padding-bottom: 20px;
      padding-left: 0;
    }
  }

  #navi.active {
    display: block;
    opacity: 1;
    left: 0;
    z-index: 20;
    text-align: center;
    transition: all 0.5s;
    opacity: 0.9;
  }
  .hamberger-memu {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .hamberger-memu.active {
    z-index: 20;
  }
  .hamberger-memu span {
    width: 30px;
    height: 3px;
    display: block;
    background: #FFFDFD;
    position: absolute;
    transition: all 0.5s;
  }
  .hamberger-memu span:nth-child(1) {
    top: 10px;
  }
  .hamberger-memu span:nth-child(2) {
    top: 20px;
  }
  .hamberger-memu span:nth-child(3) {
    top: 30px;
  }

  // ハンバーガーメニューをクリックした時の表示
  .hamberger-memu.active span:nth-child(1) {
    background: #fff;
    transform: rotate(-135deg);
    top: 20px;
  }
  .hamberger-memu.active span:nth-child(3) {
    background: #fff;
    transform: rotate(135deg);
    top: 20px;
  }
  .hamberger-memu.active span:nth-child(2) {
    display: none;
  }
}

// header scroll
#header[fixed="true"] {
  position: fixed;
  background-color: #282f35;
  padding: 30px;
  width: 100%;
  transition: .3s;
  z-index: 10;
  top: 0;
}
