@charset "UTF-8";

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Serif", "Noto Serif JP", sans-serif;
  font-size: 1.6rem;
  color: #282F35;
  background: #fff;
  letter-spacing: 0.05em;
  line-height: 1.7;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

h4 {
  font-size: 9rem;
  color: rgba(23, 23, 23, 0.0666666667);
}

img {
  width: 100%;
  vertical-align: bottom;
}

li {
  list-style-type: none;
}
a {
  color: #fff;
  text-decoration: none;
}

#header {
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  transition: 0.3s;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo a {
  font-size: 2.6rem;
  letter-spacing: 0.1em;
  font-style: italic;
}

#navi {
  display: flex;
  justify-content: flex-end;
}
#navi li {
  padding-left: 30px;
}
#navi li a {
  letter-spacing: 0.1em;
  font-style: italic;
}

.hamberger-memu {
  display: none;
}

/* header_SP版 */
@media screen and (max-width: 767px) {
  #header {
    padding: 19px 15px;
  }  
  #navi {
    position: fixed;
    width: 100%;
    left: -375px;
    top: 0;
    min-height: 100vh;
    padding: 300px 0;
    color: #fff;
    background: #282F35;
    opacity: 0;
    z-index: 5;
    transition: all 0.3s;
  }
  #navi li {
    padding-bottom: 20px;
    padding-left: 0;
  }
  #navi.active {
    display: block;
    opacity: 1;
    left: 0;
    z-index: 20;
    text-align: center;
    transition: all 0.5s;
    opacity: 0.9;
  }
  .hamberger-memu {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }
  .hamberger-memu.active {
    z-index: 20;
  }
  .hamberger-memu span {
    width: 30px;
    height: 3px;
    display: block;
    background: #FFFDFD;
    position: absolute;
    transition: all 0.5s;
  }
  .hamberger-memu span:nth-child(1) {
    top: 10px;
  }
  .hamberger-memu span:nth-child(2) {
    top: 20px;
  }
  .hamberger-memu span:nth-child(3) {
    top: 30px;
  }
  .hamberger-memu.active span:nth-child(1) {
    background: #fff;
    transform: rotate(-135deg);
    top: 20px;
  }
  .hamberger-memu.active span:nth-child(3) {
    background: #fff;
    transform: rotate(135deg);
    top: 20px;
  }
  .hamberger-memu.active span:nth-child(2) {
    display: none;
  }
}
#header[fixed=true] {
  position: fixed;
  background-color: #282f35;
  padding: 30px;
  width: 100%;
  transition: 0.3s;
  z-index: 10;
  top: 0;
}

/* footer */
#footer {
  width: 100%;
  padding: 30px 0;
}

.copy {
  font-size: 1.4rem;
  color: #282F35;
  text-align: center;
}

.button {
  width: 235px;
  line-height: 60px;
  background: #F7D43F;
  box-shadow: 0 0 6px #1B1310;
  border-radius: 30px;
  text-align: center;
  display: block;
  margin: 0 auto 80px;
  transition: 0.3s;
}
.button a {
  text-align: center;
  font-weight: bold;
  color: #171717;
}

.button:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.top-content {
  position: relative;
  top: 0;
  left: 0;
}
.page-title-wrapper {
  position: relative;
  background-image: url("../img/contact-bgi@2x.jpg");
  background-position: center;
  background-size: cover;
  height: 453px;
  margin: 0 auto;
  padding: 186px 0 80px;

}

.page-title {
  font-size: 6rem;
  font-style: italic;
  text-align: center;
  color: #fff;
  letter-spacing: 0.05em;
}
#contact h4 {
  color: rgba(255, 255, 255, 0.0901960784);
  text-align: left;
  padding-left: 50px;

}



/* form */
.form-wrapper {
  margin: 0 auto 80px;
}
.form-list {
  max-width: 700px;
  margin: 100px auto 0;

}
.form-item {
  margin-bottom: 25px;
}
.form-label {
  display: block;
  font-weight: bold;
}
.input-text {
  height: 50px;
  border: solid 1px #141414;
  padding: 10px;
}
input,textarea{
  resize: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: 1px solid #141414;
  width: 100%;
}
.checkbox {
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: #282f35 1px solid;
  margin-right: 10px;
}
.checkbox:checked{
  background-color: #333;
}
.textarea {
  padding: 10px;
  height: 170px;
}


.checkbox-list {
  display: flex;
  justify-content: flex-start;
}
.checkbox-item {
  padding-right: 20px;
}



/* SP版 */
@media screen and (max-width:767px) {
  .page-title-wrapper {
    height: 360px;
    padding: 175px 0 0;
  }
  .page-title {
    font-size: 3rem;
    margin-bottom: 40px;
  }
  
  #contact h4 {
    font-size: 4rem;
    padding: 0 15px;
    line-height: 0.15em;
  }
  .form-wrapper {
    padding: 0 15px;
  }
  .checkbox-list {
    display: block;
    margin: 15px 0 0;
  }
  .checkbox-item {
    padding-bottom: 5px;
  }
  
}